.form-check {
    padding-left: 0;
    position: relative;
}
.form-check label {
    padding-left: 25px;
    cursor: pointer;
}

.form-check label:before {
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid rgba($black, .2);
    background-color: $info;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: 3px;
    left: 0;
}

.form-check label:after {
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 18px;
    height: 18px;
    border: 1px solid $success;
    background-color: $success;
    color: $light;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 10px;
}

.form-check input {
    display: none;
}

.form-check input:checked~label:before {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.form-check input:checked~label:after {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.select2-container{
    width: 100% !important;
    max-width: 387px;
    .select2-search__field{
        outline: 0;
    }
    .select2-selection--single{
        border: 0;
        outline: 0;
        padding: 10px 10px;
        height: auto;
    }
    .select2-selection__arrow{
        background:url(../images/arrow-icon.png) no-repeat center; 
        width: 35px !important;
        height: 100% !important;
        b{
            display: none;
        }
    }
}
@keyframes load-circle {
    0% {
        stroke-dashoffset: 100;
    }
}
.progress-circle {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    &-fill {
        position: relative;
        circle {
          fill: none;
          stroke-width: 4px;
          stroke:$info;
          &:nth-child(2) {
              animation: load-circle 1s;
              stroke:$link ;
              stroke-dasharray: 100;
            }
          }        
          .percentile-content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display:flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            height:100%;
            width: 100%;
            text-align: center;
        }
    }
    &-rounded {
      circle {
            &:nth-child(2) {
            stroke-linecap : round;
          }
        }
    }
}
.range-item{
    [id*=slider-snap]{
        height: 3px;
        background: #e9ebec;
        box-shadow: none;
        border: 0;
    }
    .noUi-connect{
        background:$secondary;
    }
    .noUi-handle{
        border-radius:100%;
        width:12px;
        height: 12px;
        box-shadow:none;
        border:0;
        background:$secondary;
        top: -5px;
        &:before,&:after{
            display: none;
        }
    }
    .slider-value{
        display: flex;
        justify-content: space-between;
         align-items: center;
        div{

        }
    }
}
.watchlist-item{
    .watchlist{
        width:32px;
        height: 24px;
        border-radius:$border-radius-lg;
        margin: auto;
    }
    .watchlist-1{
        background:$danger;
    }
    .watchlist-2{
        background:$unactve;
    }
    .watchlist-3{
        background:$default;
    }
}
.form-container{
    height: 80vh;
    .form-wrapper{
        max-width: 500px;
        width:100%;
    }
}
.contact-form{
    .form-control{
        background-color:$white;
        border: 0;
        border-radius:$border-radius-lg;
        box-shadow: $box-shadow;
        padding: 15px 30px;
    }
}