
@media all and (min-width: 1200px) {
  .header-navbar {
    padding: 25px 50px;
    .navbar-brand {
      img {
        height: 30px;
      }
    }
    .navbar-main-menu {
      flex-wrap: wrap;
      flex-direction: row;
      .nav-item {
        position: relative;
        .nav-link {
          padding: 4px 15px !important;
          color: $secondary;
          border-bottom: 2px solid transparent;
          font-weight: $font-weight-bold;
          transition: $transition-base;
          &.active,
          &:hover,
          &:focus {
            color: $danger;
            text-decoration:underline;
          }
          &.highlight{
            background-color:$warning;
          }
        }
      }

    }
  }
}
.header-navbar{
.navbar-nav-profile {
  flex-direction: row !important;
  .search-icon,
  .heart-icon,
  .alert-icon {
    padding-left: 0;
    padding-right: 0;
    width: 18px;
    img {
      height: auto;
      object-fit: contain;
    }
  }

  .profile-avata {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: block;
    overflow: hidden;
    padding: 0;
    img {
      object-fit: cover;
    }
  }
    .dropdown{
        .dropdown-menu {
          margin:0;
          padding: 15px;
          background-color: $light;
          box-shadow: $box-shadow-sm;
          border: 0;
          border-radius: 0;
          display: unset;
          opacity: 0;
          min-width: 220px;
          visibility: hidden;
          -webkit-transform: translateY(20%);
          transform: translateY(20%);
          transition: all .3s linear;
          position:absolute;
          right: 0;
          left: auto;
          .triangle {
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid $light;
              position: absolute;
              right: 15px;
              top: -8px;
            }
          .dropdown-credit{
               position:relative;
               margin-bottom:15px;
               img{
                  position:absolute;
                  top: 10px;
                  right: 0; 
                  width:16px;
                  height: 16px;
                  object-fit: contain;
               }
            }
          .dropdown-item {
            padding: 10px 15px;
            font-weight: $font-weight-normal;
            transition: $transition-base;
            &:hover {
              background:transparent;
              color: $danger;
              text-decoration: underline;
            }
            &.active{
              background-color:$danger;
              border-radius:$border-radius-lg;
              &:hover{
                 color:$light;
              }
            }
          }
        }
        &:hover {
          >.dropdown-menu {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateY(5%);
            transform: translateY(5%);
          }
        }
    }
}
}

.control-toggler {
  width: 2.75rem;
  height: 2.75rem;
  display: block;
  background-color: transparent;
  position: relative;
  right: 0;
  top: .2rem;
  z-index: 5;
  border: 0;
  transition: $transition-base;

  span {
    display: block;
    width: 25px;
    height: 1px;
    background-color: $danger;
    position: absolute;
    top: 13px;
    left: 9px;
    transition: $transition-base;

    &:nth-child(2) {
      top: 21px;
    }

    &:nth-child(3) {
      top: 29px;
    }
  }

}

.control-toggler[aria-expanded="true"] {
  span {
    &:nth-child(1) {
      top: 19px;
      transform: rotate(-45deg);
    }

    &:nth-child(2) {
      top: 20px;
      opacity: 0;
    }

    &:nth-child(3) {
      top: 21px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.navbar-brand {
  img {
    width: 160px;
    height: 41px;
    object-fit: contain;
  }
}

@keyframes header-top {
  from {
    top: -1000px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.sticky {
  background-color: $light;
  box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  animation: header-top 0.5s ease;
  right: 0;
  left: 0;
  z-index: 9999;
}