.main-content-area{
    .main-wrapper{
        padding:0 50px;
    }
}
.slick-slide {
   margin: 0 15px;
}
.slick-list {
  margin: 0 -15px;
}
.feature-slider{
	.slick-prev,
	.slick-next {
	    position: absolute;
	    display: block;
	    height: 40px;
	    width: 40px;
	    line-height: 0px;
	    font-size: 0px;
	    cursor: pointer;
	    background: transparent;
	    color: transparent;
	    top: 50%;
	    margin-top: -10px;
	    padding: 0;
	    border: none;
	    border-radius: $border-radius-lg;
	    box-shadow:$box-shadow;
	    z-index: 111;
	    &:before{
	    	content: url(../images/arrow-left.png);
	    }
	    &:hover, &:focus {
	        background: transparent;
	        color: transparent;
	        &:before {
	            opacity: 1;
	        }
	    }
	    &.slick-disabled:before {
	        opacity: 0;
	    }
	}
	.slick-next{
		right: 0; 
		&:before{
	    	content: url(../images/arrow-right.png);
	    }
	}
}
