.table>thead>*>* {
    border-bottom: 0;
    background-color: $info;
    font-weight: $font-weight-bold;
    padding:15px 0;
    padding-right: 15px;
    white-space: nowrap;
}

.table>tbody>* >* {
    padding:15px 0;
    padding-right:15px;
}
.table>tbody>*:last-child>* {
    border-bottom: 0;
    padding-bottom: 0;
}
.btn-add-list{
   white-space: nowrap;
   width: 100px;
   &:hover{
    color:$light;
   }
}
.btn-active{
   padding:2px 15px;
   color:$active;
   white-space: nowrap;
}
.btn-unactive{
   padding:2px 15px;
   color:$danger;
   background-color:rgba($danger, 0.2);
   border-color:rgba($danger, 0.2);
   white-space: nowrap;
}
.max-table-width {
    max-width: 280px;
}
.pagination {
    li {
        a {
            border-radius: 100% !important;
            display: inline-block;
        }
    }
}