// Color 

$primary:#232323;
$secondary:#232323;
$success:#CCE7C8;
$danger:#FF6464;
$warning:#FCFDE3;
$info: #F4F7FC;
$light:#FFFFFF; 
$link:#2982DF;
$dark:#000000;
$muted: #C4C4C4;
$active: #3D9231;
$unactve: #FFEF5F;
$default: #9CFA85;
$body-color: $primary;
$link-hover-color:$success;
// custom color
$timeline-color: #e7e9ea;
$balance1 : #7E49E2;
$balance2 : #21D8A0;
// Forms
$input-bg: transparent;
$input-placeholder-color: lighten(#212529, 80%);
// Typography
$font-size-base: 0.875rem;
$font-family-base: 'Poppins', sans-serif;
$headings-font-family: 'Poppins', sans-serif;
$font-weight-bold: 500;
$headings-font-weight: 500;
$font-weight-normal: 400;
$line-height-base: 1.6;
$headings-line-height: 1.3;
$headings-color: $secondary;
$h1-font-size: $font-size-base+2;
$h2-font-size: $font-size-base+.875;
$h3-font-size: $font-size-base+.625;
$h4-font-size: $font-size-base+.375;
$h5-font-size: $font-size-base+.25;
$h6-font-size: $font-size-base +.125;
$display-line-height: 1.1;
$display-font-weight: 400;
// Body
$body-bg: $info;
$text-muted:$muted;
// Component
$box-shadow-sm: 0px 0px 4px #E4E7ED;
$box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px,
rgba(0, 0, 0, 0.04) 0px 0px 0px;
$modal-fade-transform: scale(1);
$card-border-width:0;
$border-color: $info;
$border-radius:   .3rem;
$border-radius-sm: 1rem;
$border-radius-lg:  3rem;
// Spacing
$spacer: 0.9375rem;
$spacers: ();
$spacers: map-merge((0: 0,
1: ($spacer * .25),
2: ($spacer * .5),
3: ($spacer * 1),
4: ($spacer * 2),
5: ($spacer * 3),
6: ($spacer * 4),
7: ($spacer * 5),
8: ($spacer * 6),
9: ($spacer * 7),
10: ($spacer * 8)),
$spacers);
// Buttons
$btn-font-weight: $font-weight-bold;
$input-btn-padding-y: .5rem;
$input-btn-padding-x: 1.5rem;
$input-btn-padding-y-sm: .3rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-padding-y-lg: .8rem;
$input-btn-padding-x-lg: 4rem;
$input-placeholder-color: $primary;
$input-plaintext-color: $primary;
$btn-border-radius: 3rem;
$btn-border-radius-sm: 1rem;
$btn-border-radius-lg: 4rem;
$input-btn-font-size-lg:  $font-size-base;
// Pagination

$pagination-color: $secondary;
$pagination-bg: transparent;
$pagination-border-width: 0;
$pagination-border-color: $primary;
$pagination-hover-color: $light;
$pagination-hover-bg: $danger;
$pagination-focus-color: $light;
$pagination-focus-bg: $danger;
$pagination-active-color: $light;
$pagination-active-bg: $danger;

// Container padding
$container-padding-x: 1.25rem;

// Paragraphs

$paragraph-margin-bottom: .6rem;

// Tables

$table-cell-padding-y: 1rem;
$table-cell-padding-x: .5rem;
